nav {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    margin-top: 20px;
    margin-left: 20px;
    filter: hue-rotate(50deg);
}

.links{
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: violet;
    padding: 10px;
    margin: 10px;
}

.links:hover{
    background-color: rgba(235, 239, 243, 0.7);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: rgb(57, 11, 100);
    padding: 10px;
    margin: 10px;
}

.button{
    color: rgb(255, 255, 255);
    background-color: rgb(75, 20, 128);
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 200px;
}
